<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <div class="col-md-1 col-lg-1 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <p>
            <a href="https://google.com" class="text-reset">Tích điểm Quà tặng VIP</a>
          </p>
          <p>
            <a href="https://google.com" class="text-reset">Thông tin khuyến mãi</a>
          </p>
          <p>
            <a href="https://google.com" class="text-reset">Tìm hiểu về mua trả góp</a>
          </p>
          <p>
            <a href="https://google.com" class="text-reset">Chính sách bảo hành</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-1 col-lg-1 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <p>
            <a href="https://mwg.vn/" class="text-reset">Giới thiệu công ty (MWG.vn)</a>
          </p>
          <p>
            <a href="https://vieclam.thegioididong.com/" class="text-reset">Tuyển dụng</a>
          </p>
          <p>
            <a href="https://www.thegioididong.com/lien-he" class="text-reset">Gửi góp ý, khiếu nại</a>
          </p>
          <p>
            <a href="https://www.thegioididong.com/he-thong-sieu-thi-the-gioi-di-dong" class="text-reset">Tìm siêu thị (3.360 shop)</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Tổng đài hỗ trợ <span style="font: unset">(Miễn phí gọi)</span>
          </h6>
          <p>Gọi mua: <a href="tel:18001062">1800.1060</a> (7:30 - 22:00)</p>
          <p>Khiếu nại: <a href="tel:18001062">1800.1062</a> (7:30 - 22:00)</p>
          <p>Bảo hành: <a href="tel:18001062">1800.1064</a> (7:30 - 22:00)</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <a href="https://facebook.com" class="social-icon facebook-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://youtube.com" class="social-icon youtube-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>



          <p><i class="fa-solid fa-house"></i></p>
          <a href="https://dienmayxanh.com"><img src="/assets/images/spon.png"></a>
          <p>
            website cùng tập đoàn
          </p>
          <a href="https://dienmayxanh.com"><img src="/assets/images/web.png"></a>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="information">
      © 2018. Công ty cổ phần Di Dong Khong Thong Minh. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GPMXH:
      238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.
      Địa chỉ: 128 Trần Quang Khải, P.Tân Định, Q.1, TP.Hồ Chí Minh. Địa chỉ liên hệ và gửi chứng từ: Lô T2-1.2, Đường D1,
      Đ. D1, P.Tân Phú, TP.Thủ Đức, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@didongkhongthongminh.com. Chịu trách
      nhiệm nội dung: Huỳnh Văn Tốt. Email: Tot.huynhvan@didongkhongthongminh.com.
      <a class="text-reset fw-bold" href="https://www.thegioididong.com/thoa-thuan-su-dung-trang-mxh">Xem chính sách sử dụng</a>
    </p>
  </div>
</footer>
