<div class="container">
  <h2>Đổi Mật Khẩu</h2>
  <form [formGroup]="changePasswordFormGroup" >
    <div class="form-group">
      <label for="currentPassword">Mật khẩu hiện tại</label>
      <input type="password" class="form-control" id="currentPassword" formControlName="presentPassword" autocomplete="current-password">
    </div>
    <div class="form-group">
      <label for="newPassword">Mật khẩu mới</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword" autocomplete="new-password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Xác nhận mật khẩu mới</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" autocomplete="confirm-password">
      <!-- Hiển thị lỗi nếu mật khẩu mới và xác nhận không khớp -->
      <div *ngIf="changePasswordFormGroup.hasError('passwordMismatch')" class="text-danger" autocomplete="confirm-password">
        Mật khẩu và xác thực mật khẩu không khớp.
      </div>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-outline-primary ml-2" type="button" (click)="changePassword()">Chấp Nhận</button>
    </div>
  </form>
</div>
